<div id="leftContainer"><div>
	&nbsp;
</div></div>

<div id="rightContainer">
	<div>
		<div id="tabs"></div>
		<div id="rightContent"></div>
	</div>
</div>

<div id="middleContainer"><div>
	<div id="addFolderViewContainer"></div>
	<ul id="foldersContainer"></ul>
</div></div>

<script>
$(function() {
	new AddFolderView;	

	app.allTasks = new AllTasksCollection();
	app.allFolders = new AllFoldersCollection();

	app.folders = new FoldersCollection();
	app.folders.reset(<%= raw @result.to_json %>);

	new TabMenuView;
	new ChartsView;
	new ScheduleView;
	new HelpView;
	app.tabMenuView.selectScheduleTab();	

	$("ul.tasks").sortable({
		connectWith: "ul.tasks",
		placeholder: "dragging",
		handle: ".dragHorizIcon",
		axis: 'y',
		delay: 100,
		tolerance: 'pointer',
		receive: function(event, ui) {
			var pos = ui.item.parent('ul').children('li').index(ui.item);
			var model = app.allTasks.getByCid( ui.item.attr('cid') );
			var oldCollection = model.collection;

			var parentCid = ui.item.parent('ul').parent('li').attr('cid');
			if (ui.item.parent('ul').parent('li').parent('ul').attr('id') == 'foldersContainer') {
				var parentModel = app.folders.getByCid(parentCid);
				//model.set({folder_id: parentModel.id, parentTaskId:null});
				model.changeChildrenAndThisFolderId(parentModel.id);
				model.set({parentTaskId:null});
			} else {
				var parentModel = app.allTasks.getByCid(parentCid);
				//model.set({folder_id: parentModel.get('folder_id'), parentTaskId: parentModel.id});
				model.changeChildrenAndThisFolderId(parentModel.get('folder_id'));
				model.set({parenetTaskId: parentModel.id});
			}

			oldCollection.remove(model, {silent:true});
			parentModel.tasks.add(model, {at:pos, silent:true});
			parentModel.tasks.setOrderFromIndex();
			model.save();
		},

		update: function(event, ui) {
			// do all this shit so that update only runs when moving in same collection
			if (!ui.sender) {
				var pos = ui.item.parent('ul').children('li').index(ui.item);
				var model = app.allTasks.getByCid( ui.item.attr('cid') );
				if (model) {
					var oldCollection = model.collection
					var parentCid = ui.item.parent('ul').parent('li').attr('cid');
					if (ui.item.parent('ul').parent('li').parent('ul').attr('id') == 'foldersContainer') {
						var parentModel = app.folders.getByCid(parentCid);
					} else {
						var parentModel = app.allTasks.getByCid(parentCid);
					}
					if (parentModel.tasks == model.collection) {
						oldCollection.remove(model, {silent:true});
						oldCollection.add(model, {at:pos, silent:true});
						oldCollection.setOrderFromIndex();
						model.save();
					}
				}
			}
		},
	});

	$("ul#foldersContainer").sortable({
		placeholder: "dragging",
		handle: ".dragHorizIcon",
		axis: 'y',
		delay: 100,
		update: function(event, ui) {
			var pos = ui.item.parent('ul').children('li').index(ui.item);
			var model = app.folders.getByCid( ui.item.attr('cid') );
			app.folders.remove(model);
			app.folders.add(model, {at:pos});
		},
	});


	doCharts();

});
</script>


<script id="addFolderViewTemplate" type="text/html">
	<table style="width:100%;">
		<tr>
			<td>
				<input type="text" placeholder="Add Project" id="addFolderInput">
			</td>
			<td style="text-align:right;width:1%;">
				&nbsp;<span class="btn" id="addProjectSubmitButton">Add Project</span>
				<span class="btn" id="clearCompletedButton">Clear Completed</span>
			</td>
		</tr>
	</table>
</script>


<script id="containerViewTemplate" type="text/html">
	<div class="container"></div>
	<ul class="tasks"{{^openFolder}} style="display:none;"{{/openFolder}}></ul>
</script>


<script id="folderViewTemplate" type="text/html">
		<table style="width:100%">
			<tr>
				<td>
					<table style="width:100%;">
						<tr>
							<td style="vertical-align:top;width:25px;">
								<icon class="button {{#openFolder}}openFolderIcon{{/openFolder}}{{^openFolder}}closedFolderIcon{{/openFolder}}"></icon>
							</td>
							<td>
								<div class="nameField">{{displayName}}</div>
								<div class="nameFieldEdit" style="display:none;"><textarea style="width:100%;" rows="1">{{name}}</textarea><div>
							</td>
						</tr>
					</table>
				</td>
				<td style="text-align:right;vertical-align:top;width:1%;white-space:nowrap;">
					<span class="displayStartDateFromNow">{{displayStartDateFromNow}}</span>
					<icon class="plusIcon button"></icon>
					<icon class="trashIcon button"></icon>
					<icon class="dragHorizIcon button"></icon>
				</td>
			</tr>
		</table>
</script>


<script id="taskViewTemplate" type="text/html">
	<table style="width:100%">
			<tr>
				<td>
					<table style="width:100%;">
						<tr>
							<td style="vertical-align:top;width:25px;">
								<input type="checkbox"{{#checked}} checked{{/checked}}>
							</td>
							<td>
								<div class="nameField">{{displayName}}</div>
								<div class="nameFieldEdit" style="display:none;"><textarea style="width:100%;" rows="1">{{name}}</textarea><div>
							</td>
						</tr>
					</table>
				</td>
				<td style="text-align:right;vertical-align:top;width:40px;white-space:nowrap;">
					<span class="displayStartDateFromNow">{{displayStartDateFromNow}}</span>
					<icon class="plusIcon button"></icon>
					<icon class="trashIcon button"></icon>
					<icon class="dragHorizIcon button"></icon>
				</td>
			</tr>
		</table>
</script>


<script id="tabMenuViewTemplate" type="text/html">
	<ul>
		<li id="scheduleTab">Schedule</li>
		<li id="chartsTab">Charts</li>
		<li id="helpTab">Help</li>
		<li id="taskTab" style="display:none;">Task</li>
	</ul>
</script>


<script id="taskEditViewTemplate" type="text/html">
	<table style="height:100%;width:100%;">
		<tr><td>
			<textarea style="width:100%;height:100%;" placeholder="Notes">{{notes}}</textarea>
		</td></tr>
		<tr style="height:1%;"><td>
			{{#tempShowStartDate}}
				<div>Due Date: {{tempPrettyStartDate}} {{tempStartDateFromNow}}</div>
			{{/tempShowStartDate}}
			Task created {{tempCreatedDateFromNow}}
		</td></tr>
	</table>
</script>


<script id="chartsViewTemplate" type="text/html">
	<div class="chartContainer">
		<div class="chartTitle">Completed Tasks</div>
		<div id="completedChartDate" style="height:200px;width:100%;"></div>
		<br>
		<div class="chartTitle">Total Created and Completed</div>
		<div id="completedVsCreatedHour" style="height:200px;width:100%;"></div>
		<br>
		<div class="chartTitle">Completed Tasks Grouped by Day</div>
		<div id="completedChartDay" style="height:200px;width:100%;"></div>
		<br>
		<div class="chartTitle">Completed Tasks Grouped by Hour</div>
		<div id="completedChartHour" style="height:200px;width:100%;"></div>
	</div>
</script>


<script id="scheduleViewTemplate" type="text/html">
	<div style="height:5px;"></div>
	<table>
			<% (0..30).each do |i| %>
		      <% 
		      date_id = (Time.zone.today + i.days).to_s() 
		      date_str = i == 0 ? 'Today' : (Time.zone.today + i.days).to_s(:chart) 
		      weekend = ['Sat', 'Sun']
		      %>
		      <tr class="<%= cycle("schedule_even", "schedule_odd") %><%= " weekend" if weekend.include?((Time.zone.today+i.days).strftime("%a")) %>">
		        <td class="schedule_date"><%= date_str %></td>
		        <td class="schedule_date_container" id="<%= "schedule_#{date_id}" %>"></td>
		      </tr>
		    <% end %>
		</table>
</script>


<script id="outlineRowViewTemplate" type="text/html">
	<div>{{displayName}}</div>
</script>


<script id="scheduleRowViewTemplate" type="text/html">
	<div class="scheduleRowView"{{#checked}} style="text-decoration:line-through;"{{/checked}}>&bull; {{#displayTimeShow}}<span class="displayTime">{{displayTime}}</span> {{/displayTimeShow}} {{displayName}}</div>
</script>


<script id="helpViewTemplate" type="text/html">
	<div>
		<h3>Keyboard Shortcuts</h3>
			<ul>
				<li>up/down: up/down arrow keys</li>
				<li>move task up/down: shift + up/down arrows</li>
				<li>create new task: enter key</li>
				<li>delete task: shift + backspace/delete</li>
				<li>indent: tab key</li>
				<li>un-indent: shift + tab key</li>
			</ul>
		<h3>Schedule</h3>
			Tasks can have due dates.  Create due dates by adding a date to a task.  Here are some examples.
			<ul>
				<li>party 4/19</li>
				<li>birthday 5/19, 3:30pm</li>
				<li>dentist appointment march 5, 3pm</li>
				<li>do something important today</li>
			</ul>
			Dates and times should be separated by a comma.<br>
			<br><br>
			<div>
				<g:plusone></g:plusone><br>

				<div class="fb-like" data-href="http://tasskr.com" data-send="false" data-layout="button_count" data-width="120" data-show-faces="true"></div><br>

				<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://tasskr.com" data-via="Tasskr" data-hashtags="tasskr">Tweet</a><br>

			</div>
	</div>
</script>


