<!DOCTYPE html>
<html>
<head>
	<title>Tasskr</title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-78601-18']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) return;
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	<header>
		<div id="logo">
			<%= link_to image_tag('logo.png'), root_path %>
			<span style="color:#fff;"></span>
		</div>
		<nav></nav>
	</header>

	<div id="content">
		<% flash.each do |name, msg| %>
	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
		   <script type="text/javascript">
				$(document).ready( function() {
					$("#flash_<%=name%>").delay(4000).hide( 'blind', '', 400 );
				});
			</script>
		<% end %>
		<%= yield %>
	</div>

	<div id="errorMsg" style="display:none;">Error saving to server.  Check connection.</div>

	<footer>
		up/down: navigate; enter: new task; shift+backspace: delete task; tab: indent; shift+tab:unindent; shift+up/down: move;
	</footer>

<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/5RtJjokh93WCtdG4wTom4w.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>

<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(66386349);
(function() {
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = '//static.getclicky.com/js';
  ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66386349ns.gif" /></p></noscript>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4dd8bf90f5a1f57905000002');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

</body>
</html>


<script>
Backbone.Model.prototype.idAttribute = "_id";
var app = {};
$(function() {
	new MenuView();
	createCookie('timezoneOffset',getTimeZoneOffsetDST(),10);
	fixSizes();
});
</script>


<script id="menuViewTemplate" type="text/html">
	<ul>
		<% if logged_in? %>
			<li><%= current_user.email %></li>
			<li>| <%= link_to 'Log Out', '/logout' %></li>
		<% else %>
			<li>Sign up to save your tasks.</li>
			<li>| <%= link_to 'Sign Up', '/signup' %></li>
			<li>| <%= link_to 'Sign In', '/signin' %></li>
		<% end %>
			| <a href="javascript:UserVoice.showPopupWidget();" title="Open feedback & support dialog" style="text-decoration:none;">Feedback/Help</a>
		</a>
		| <%= link_to 'mobile', 'http://m.tasskr.com/' %>
		<% if current_or_guest_user.admin %>
			| <%= link_to 'A', '/admin' %>
		<% end %>
	</ul>
</script>

