<!DOCTYPE html>
<html>
<head>
  <title>Tasskr</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div id="logo">
			<%= link_to image_tag('logo.png'), root_path %>
		</div>
		<nav></nav>
	</header>

	<div id="content">
		<%= yield %>
	</div>

	<footer>
		footer
	</footer>

</body>
</html>


<script>
Backbone.Model.prototype.idAttribute = "_id";
var app = {};
$(function() {
	new MenuView();
	createCookie('timezoneOffset',getTimeZoneOffsetDST(),10);
	fixSizes();
});
</script>


<script id="menuViewTemplate" type="text/html">
	<ul>
		<% if logged_in? %>
		<li><span class="btn" id="logoutButton">Log Out</span></li>
		<% else %>
			<li><span class="btn" id="signUpButton">Sign Up</span></li>
			<li><span class="btn" id="loginButton">Log In</span></li>
		<% end %>
	</ul>
</script>