<!DOCTYPE html>
<html>
<head>
		<title>Tasskr</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div id="logo">
			<%= link_to image_tag('logo.png'), root_path %>
		</div>
		<nav></nav>
	</header>

	<div id="content">
		<% flash.each do |name, msg| %>
	      <%= content_tag :div, msg, :id => "flash_#{name}" %>
		   <script type="text/javascript">
				$(document).ready( function() {
					$("#flash_<%=name%>").delay(4000).hide( 'blind', '', 400 );
				});
			</script>
		<% end %>
		<%= yield %>
	</div>

	<div id="errorMsg" style="display:none;">Error saving to server.  Check connection.</div>

	<footer>
		up/down: navigate; enter: new task; shift+backspace: delete task; tab: indent; shift+tab:unindent; shift+up/down: move;
	</footer>

<script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/5RtJjokh93WCtdG4wTom4w.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>

</body>
</html>


<script>
Backbone.Model.prototype.idAttribute = "_id";
var app = {};
$(function() {
	new MenuView();
	createCookie('timezoneOffset',getTimeZoneOffsetDST(),10);
	fixSizes();
});
</script>


<script id="menuViewTemplate" type="text/html">
	<ul>
		<% if logged_in? %>
			<li><span id="menuWords"><%= current_user.email %></span></li>
			<li><span class="btn" id="logoutButton">Log Out</span></li>
		<% else %>
			<li><span id="menuWords">Sign up to save your tasks.</span></li>
			<li><span class="btn" id="signUpButton">Sign Up</span></li>
			<li><span class="btn" id="loginButton">Sign In</span></li>
		<% end %>
		<a href="javascript:UserVoice.showPopupWidget();" title="Open feedback & support dialog"><span class="btn" id="feedback">Feedback/Help</span></a>
	</ul>
</script>

